<header>
  <app-header></app-header>
</header>

<main>
  <section>
    <!-- <nav>
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link logout-style" aria-current="page">Logout</a>
         <a class="nav-link logout-style" aria-current="page" (click)="isLoggedIn ? logout() : loginRegister()">
          {{ isLoggedIn ? 'Logout' : 'Login/Register' }}
        </a> -->
      <!-- </li>
      </ul>
    </nav>  -->
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col mx-3">
          <h2>Dashboard</h2>
          <!-- <div class="mt-3" *ngIf="currentUser">
            <p>ID: {{currentUser.id}}</p>
            <p>User Name: {{currentUser.name}} </p>
            <p>Email: {{currentUser.email_id}}</p>
          </div>
          <div *ngIf="!currentUser">
            <p>Loading user details...</p>
          </div> -->
        </div>
      </div>
    </div>
  </section>
<!-- user view design -->
  <section>
    <div style="display: flex; justify-content: center;">
    <div style="border: 1px solid black; border-radius: 20px; padding: 40px; width: fit-content;
     background-color: rgb(195, 204, 201);">
      <div class="mt-3" *ngIf="currentUser">
        <p>ID: {{currentUser.id}}</p>
        <p>User Name: {{currentUser.name}} </p>
        <p>Email: {{currentUser.email_id}}</p>
        <!-- <p>User Register ID: {{currentUser.user_registerid}}</p> -->
      </div>
      <div *ngIf="!currentUser">
        <p>Loading user details...</p>
      </div>
    </div>
    </div>
  </section>
  
  <!-- <div *ngIf="!currentUser">
    <p>Loading user details...</p>
  </div>
   -->
   <!-- <section>
    <div class="container-fluid row row-cols-1 row-cols-md-4 g-4 mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/dashboard/bag_icon.png"
              alt=""
              width="70"
              height="70"
              class="icon-style-1"
            />
            <p>15 Posted Jobs</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/dashboard/document_icon.png"
              alt=""
              width="70"
              height="70"
              class="icon-style-2"
            />
            <p>8 Application</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/dashboard/message_icon.png"
              alt=""
              width="70"
              height="70"
              class="icon-style-1"
            />
            <p>5 Messages</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              src="/assets/dashboard/save_icon.png"
              alt=""
              width="70"
              height="70"
              class="icon-style-2"
            />
            <p>3 Shortlist</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="container mt-5 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Experience</th>
            <th>Qualification</th>
            <th>Company Name</th>
            <th>Job Title</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hello</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button type="button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>
