

  <main>
    <section>
      <div style="display: flex; justify-content: center;">
      <div style="border: 1px solid black; border-radius: 20px; padding: 40px; width: fit-content;
       background-color: rgb(195, 204, 201);">
        <div class="mt-3" *ngIf="currentAdmin">
          <p>ID: {{currentAdmin.admin_id}}</p>
          <p>Email: {{currentAdmin.admin_email}}</p>
        </div>
        <div *ngIf="!currentAdmin">
          <p>Loading Admin details...</p>
        </div>
      </div>
      </div>
    </section>
  </main>

<footer>
    <!-- <app-footer></app-footer> -->
</footer>